body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#caja {
    max-width: 800px;
    margin: 0 auto;
}

.social-links a {
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
    transition: color 0.3s ease-in-out;
}

.social-links a:hover {
    color: #cc0033;
}

header {
    background-color: #bf34db;
    text-align: center;
    padding: 20px;
}

section {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    color: white;
}

h2 {
    color: #333;
}

h3 {
    color: #cc0033;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #cc0033;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}